.sign-in-page
  .sign-in-form
    .page-logo
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        %pДоступ к системе
        = f.text_field :username, required: true, autofocus: true, placeholder: "Ваш логин"
        = f.password_field :password, required: true, placeholder: "Ваш пароль", class: "password"
        .actions
          = f.button :submit, "Войти"