/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

/*@import "bootstrap-sprockets";
@import "bootstrap";*/

@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: "Helvetica Neue";
  src: asset_url('HelveticaNeue.ttf') format('ttf');
}

html{
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}
html body{
    width: 100vw;
    max-width: 100%;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, input{
  font-family: 'Helvetica Neue';
  margin: 0;
}
a{
  text-decoration: none;
}
div{
  box-sizing: border-box;
}
header{
    width: 100vw;
    height: 8vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.29);
    padding: 0 5vw;
    position: relative;
    box-sizing: border-box;
}
header .site-logo{
    width: 7vw;
    height: 100%;
    float: left;
}
.site-logo img{
    width: 100%;
    height: auto;
}
header .site-menu{
    width: 81vw;
    height: 100%;
    float: left;
    margin-left: 2vw;
}
.site-menu a{
    line-height: 8vh;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0 1vw;
    p{
      display: inherit;
      i{
        margin-right: 0.2vw;
      }
    }
}
.site-menu a.logout{
    float: right;
    margin: 0;
    i{
      font-size: 1.2em;
      margin-left: 0.2vw;
    }
}
body .ui-datepicker{
  padding: 0;
  font-family: "Helvetica Neue";
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  .ui-widget-header {
    background: none;
    border: none;
  }
  table{
    margin: 0;
  }
  thead{
    background: #EEEEEE;
  }
  td{
    background: #F5F5F5;
    padding: 0;
  }
  td a{
    padding: 8px 5px;
    text-align: center;
    transition: all 0.2s ease;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #F5F5F5;
    border: none;
  }
  .ui-state-default:hover{
    background: #70c050;
    color: white;
  }
  .ui-state-active{
    background: #4ec019;
    color: white;
  }
}