// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-wrapper{
  display: table;
  .dashboard-header{
    width: 100vw;
    padding: 15vh 5vw;
    background: #EEEEEE;
  }
  .dashboard-nav{
    width: 20vw;
    background: white;
    border: 1px solid #EEEEEE;
    border-left: none;
    float: left;

    .nav-item{
      width: 100%;
      border-bottom: 1px solid #EEEEEE;

      a{
        font-size: 1.2em;
        padding: 3vh 3vw;
        text-align: center;
        display: block;
      }
    }
  }
  .dashboard-content{
    width: 80vw;
    padding: 5vh 5vw;
    display: table;
    float: left;

    .dash-card{
      min-width: 30vw;
      min-height: 20vh;
      float: left;
      border: 1px solid #EEEEEE;
      border-radius: 5px;
      margin: 0 1vw 3vh 1vw;

      .header{
        padding: 3vh 3vw;
        font-size: 1.4em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: white;
      }

      .body {
        background: #FAFAFA;

        .card-item {
          padding: 2vh 2vw;
          background: white;

          p {
            font-size: 1.2em;
            display: inline-block;
            padding: 0 0.5vw;

            i{
              margin-right: 0.2vw;
            }
          }
        }
        .card-item:nth-child(odd){
          background: #F5F5F5;
        }
      }
    }
  }
  .officer-form{
    padding: 2vh 2vw;
    input{
      width: 100%;
      height: 6vh;
      line-height: 6vh;
      font-size: 1.3em;
      padding: 0 2vw;
      margin-bottom: 2vh;
      outline: none;
      box-sizing: border-box;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
    }
    input[type="submit"]{
      line-height: 6vh;
      color: white;
      background: #4ec019;
      border: 1px solid #4ec019;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover{
        color: #4ec019;
        background: transparent;
      }
    }
    ::-webkit-input-placeholder{
      color: #333333;
    }
  }

  .card-item-reports{
    padding: 4vh 2vw;
    border-bottom: 1px solid #EFEFEF;
  }
  .card-item-editions{
    margin: 2vh 2vw;
    padding: 0;
    border: 1px solid #EFEFEF;
    border-radius: 5px;

    p{
      font-size: 1.2em;
      display: inline-block;
    }
    .item-header{
      width: 100%;
      border-bottom: 1px solid #EFEFEF;
      padding: 2vh 2vw;
    }
    .item-body{
      padding: 3vh 2vw;
      background: #F5F5F5;

      p{
        display: block;
        margin: 2vh 0;
      }
    }
    .item-footer{
      padding: 2vh 2vw;
    }
  }
}

.dashboard-content{
  .officers{
    padding: 3vh 2vw;
    border: 1px solid #e5e5e5;
    background: white;

    .officer{
      width: 100%;
      padding: 3vh 1vw;
      margin-bottom: 2vh;
      border: 1px solid #e5e5e5;
    }
  }
}