// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$appGreen: #70c050;
.reports-search-form{
  width: 100vw;
  padding: 10vh 5vw;
  background: #EEEEEE;
  display: flex;
  justify-content: center;

  input{
    width: 250px;
    height: 6vh;
    padding: 0 3vw;
    background: white;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    font-size: 1.4em;
    margin: 0 0.5vw;
  }
  input[type="submit"]{
    width: 250px;
    line-height: 6vh;
    padding: 0 3vw;
    border: none;
    border-radius: 5px;
    background: #4ec019;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    float: right;
    font-weight: 300;
    &:hover {
      background: $appGreen;
    }
  }
  input::-webkit-input-placeholder{
    color: #848484;
  }

  p{
    text-align: center;
    margin-bottom: 5vh;
    line-height: 6vh;
    font-size: 3em;
    font-weight: 300;
  }
}
.reports-container{
  width: 100vw;
  padding: 5vh 5vw;
}
.report{
  margin: 3vh 0;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  background: white;
}
.reports-table{
  width: 100%;
  border-spacing: 0;
  padding: 0;
}
.reports-table tr{
  width: 100%;
  text-align: center;
}
.reports-table .reports-header{
  height: 6vh;
  font-size: 12px;
}
.reports-table tr.reports-body{
  height: 10vh;
  background: #F5F5F5;
}
.report .reports-footer{
  width: 100%;
  height: 5.5vh;
  background: #EEEEEE;
  display: flex;
  padding: 0 1vw;
  line-height: 5.5vh;
}
.reports-footer i{
  margin-right: 0.1vw;
}
.reports-footer a i{
  margin-right: 0.5vw;
}
.reports-footer p{
  margin: 0 1vw;
  font-size: 1.2em;
  padding: 0;
}
.reports-footer p.ok{
  color: #088002;
}
.reports-footer p.wrong{
  color: #F44336;
}
.reports-table td {
  padding: 0 1vw;
}
.reports-body td{
  white-space: nowrap;
  font-size: 1.2em;
}
.reports-table td p{
  font-size: 1.2em;
}
.reports-table td p.call-num{
  width: 7vh;
  height: 7vh;
  line-height: 7vh;
  border-radius: 100%;
  background: #FF5722;
  color: white;
  font-size: 1.7em;
  margin: 0;
  display: inline-block;
}
.reports-container .car-number{
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin: 0 1vw 0 0;
  height: 2.9vh;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Non-EU-section-with-UA-2015.png/100px-Non-EU-section-with-UA-2015.png);
  background-size: 12px 3vh;
  background-repeat: no-repeat;
  background-position: left;
  padding: 0 5px 0 17px;
  left: 0;
}
.reports-container .car-number p{
  line-height: 2.9vh;
  margin: 0;
  font-size: 1em;
  display: block;
  padding: 0;
}
.reports-sub-footer{
  width: 100%;
  min-height: 7vh;
  height: auto;
  background: #FAFAFA;
  padding: 2vh 2vw;
}
.reports-sub-footer p{
  line-height: 5vh;
  font-size: 1.2em;
  margin: 0 1vw;
  display: inline-block;
}
.reports-sub-footer p.ok{
  color: #088002;
}
.reports-sub-footer p.wrong{
  color: #F44336;
}
.report-edit-header {
  width: 100%;
  background: white;
  border-bottom: 1px solid #EFEFEF;

  p{
    text-align: left;
    font-size: 2.2em;
    font-weight: 300;
    padding: 3vh 3vw;
    line-height: normal;

    span{
      color: $appGreen;
    }
  }
}
.report-edit-container{
  padding: 5vh 0;
  background: #F5F5F5;

  .report-edit-form{
    .car-report-form{
      width: 70vw;
      border: 1px solid #EFEFEF;
      margin: 0 auto;

      .report-form-header{
        background: white;
        border-bottom: 1px solid #EFEFEF;

        p.call-num{
          box-shadow: 0 0 1px rgba(0,0,0,0.2);
        }
      }

      .col-car-data .field {
        width: 30%;
        margin: 1vh 1.5%;
        p {
          font-size: 1.1em;
          text-align: left;
          padding-bottom: 1vh;
        }
      }

      .col-header{
        border-bottom: 1px solid #EFEFEF;
      }
      .report-form-footer{
        border-top: 1px solid #EFEFEF;
      }
    }
  }
}
.report-show-wrapper{
  .report-page-header{
    border-bottom: 1px solid #EFEFEF;

    p{
      text-align: left;
      font-size: 2.2em;
      font-weight: 300;
      padding: 3vh 3vw;
      line-height: normal;
      background: white;

      span{
        color: $appGreen;
      }
    }
  }
  .report-page-content{
    padding: 5vh 0;
    background: #F5F5F5;

    .report-container{
      width: 70vw;
      background: #F5F5F5;
      margin: 0 auto;
      border: 1px solid #EFEFEF;
      border-radius: 5px;
      overflow: hidden;

      .report-info-header{
        width: 100%;
        height: auto;
        background: white;
        padding: 2vh 3vw;
        line-height: 8vh;
        border-bottom: 1px solid #EFEFEF;

        p.call-num{
          width: 8vh;
          line-height: 8vh;
          text-align: center;
          background: $appGreen;
          border-radius: 100%;
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
          font-size: 2em;
          margin: 0 1vw 0 0;
          color: white;
          border: 3px solid white;
        }
      }

      .report-content{
        width: 100%;
        background: #FAFAFA;

        h5.row-heading{
          font-size: 1.2em;
          font-weight: 400;
          width: 100%;
          padding: 2vh 3vw;
          background: white;
          border-bottom: 1px solid #EFEFEF;
        }

        .report-content-row{
          padding: 2vh 3vw;
          text-align: justify;
          border-bottom: 1px solid #EFEFEF;

          p{
            font-size: 1.2em;
            display: inline-block;
            padding: 0.5vh 0;
            line-height: 4vh;
            margin: 0 1vw;

            span{
              font-size: 1.4em;
              text-align: right;
              padding-left: 1vw;
              color: $appGreen;
            }
          }
        }
        .report-summary{
          padding: 3vh 3vw;
          background: #FAFAFA;
          border-top: 1px solid #EFEFEF;

          p{
            font-size: 1.3em;
            display: inline-block;
            margin: 0 1vw;
          }

          p.ok{
            color: #27a637;
          }
          p.wrong{
            color: red;
          }
        }
      }

      .report-footer{
        width: 100%;
        padding: 2vh 3vw;
        background: white;
        border-top: 1px solid #EFEFEF;

        p, a{
          font-size: 1.2em;
          display: inline-block;
          margin: 0 0.5vw;
        }
        .report-btn{
          padding: 1.5vh 3vw;
          border: 1px solid #dfe3e8;
          border-radius: 5px;
          cursor: pointer;
          display: inline-block;

          &:hover{
            border-color: #bfc1c6;
          }
        }

        i{
          margin-right: 0.5vw;
        }
      }
    }
  }
}

